"""
    THE OUTPUT MUST BE A CODE SNIPPET OF A VALID LIST OF JSON OBJECTS. IT MUST USE THE FOLLOWING FORMAT:

    ```
    [
        { "index": 0,  "title": "How", "visualization_type": "histogram", "x_axis": ["col_1", "col_2"], "y_axis": ["col_3", "col_4"]},
    ]
    ```
    THE OUTPUT SHOULD ONLY USE THE JSON FORMAT ABOVE.
"""